<div class="full-page">
  <div class="topbar">
    <button class="menu-button" type="button" (click)="toggleSidebar()">
      <span></span><span></span><span></span>
    </button>
    <div class="search-container">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        placeholder="検索"
        (blur)="resetSearchTasks()"
      />
      <button class="search-btn" type="button" (click)="searchTasks()">検索する</button>
    </div>
    @if (authState.isLoggedIn) {
      <button class="login-btn" type="button">
        <p class="login-text" (click)="onLogout()">ログアウト</p>
      </button>
    } @else {
      <button class="login-btn" type="button" routerLink="/login">ログイン</button>
      <button class="login-btn" type="button" routerLink="/signup">新規登録</button>
    }
  </div>
  <div class="main-content">
    <!-- 左サイドバー -->
    <div class="left-side" [class.closed]="!isSidebarOpen">
      <div class="sidebar">
        <p class="sidebar-title">課題管理アプリ</p>
        <div class="sidebar-menu">
          <a class="sidebar-menu-btn"
           routerLink="/home/tasks" routerLinkActive="active">マイタスク</a>
          <a class="sidebar-menu-btn" 
          routerLink="/home/projects" routerLinkActive="active">プロジェクト</a>
          <a class="sidebar-menu-btn" 
          routerLink="/home/inbox" routerLinkActive="active">受信トレイ</a>
          <a class="sidebar-menu-btn" 
          routerLink="/home/teams" routerLinkActive="active">チーム</a>
          <a class="sidebar-menu-btn" 
          routerLink="/home/goals" routerLinkActive="active">ゴール</a>
          <a class="sidebar-menu-btn" 
          routerLink="/home/search" routerLinkActive="active">検索</a>
          <button class="sidebar-menu-btn" type="button" (click)="addField('projectId', null)">ドキュメント追加</button>
        </div>
      </div>
      <div class="profile" routerLink="/profile">
        <div class="profile-circle"></div>
        <p class="profile-name">{{ authState.userName }}</p>
      </div>
    </div>
    <!-- メイン -->
    <main class="main">
      <div class="main-container">
        <router-outlet />
      </div>
    </main>
  </div>

  @if (modalState.isOpen) {
    @if (modalState.type === 'task-add') {
      <div class="modal add-task-modal" (click)="closeModal()">
        <div class="modal-form add-task-form" (click)="$event.stopPropagation()">
          <div class="modal-top">
            <p class="add-task-title">タスクを追加</p>
            <button class="add-task-close-btn" type="button" (click)="closeModal()">×</button>
          </div>
          <div class="add-task-body">
            <div class="add-task-item">
              <p class="add-label">タスク名</p>
              <input
                type="text"
                [(ngModel)]="addingTask.title"
                class="add-task-name-input"
                placeholder="タスク名を入力してください"
              />
            </div>
            <div class="add-task-item">
              <p class="add-label">開始日</p>
              <input
                type="date"
                [(ngModel)]="addingTask.startDate"
                class="add-task-due-date-input"
              />
            </div>
            <div class="add-task-item">
              <p class="add-label">期日</p>
              <input
                type="date"
                [(ngModel)]="addingTask.dueDate"
                class="add-task-due-date-input"
              />
            </div>
            <div class="add-task-item">
              <p class="add-label">ステータス</p>
              <select [(ngModel)]="addingTask.status" name="status">
                <option value="">-</option>
                <option value="未着手">未着手</option>
                <option value="進行中">進行中</option>
                <option value="完了">完了</option>
              </select>
            </div>
            <div class="add-task-item">
              <p class="add-label">優先度</p>
              <select [(ngModel)]="addingTask.priority" name="priority">
                <option value="">-</option>
                <option value="高">高</option>
                <option value="中">中</option>
                <option value="低">低</option>
              </select>
            </div>
            <div class="add-task-item">
              <p class="add-label">メモ</p>
              <input
                type="text"
                [(ngModel)]="addingTask.memo"
                class="add-task-memo-input"
                placeholder="メモを入力してください"
              />
            </div>
            <div class="add-task-item">
              <p class="add-label">サブタスク</p>
              <button class="add-subtask-btn" type="button">+</button>
            </div>
          </div>
          <button class="add-task-save-btn" type="button" (click)="addTask()">追加</button>
        </div>
      </div>
    } @else if (modalState.type === 'task-edit') {
      <div class="modal edit-task-modal" (click)="closeModal()">
        <div class="modal-form edit-task-form" (click)="$event.stopPropagation()">
          <div class="modal-top">
            <p class="edit-task-title">タスクを編集</p>
            <button class="edit-task-close-btn" type="button" (click)="closeModal()">×</button>
          </div>
          <div class="modal-body edit-task-body">
            <div class="edit-task-hierarchy-container">
              @for (task of modalState.data.hierarchyTask; track task.id) {
                <button class="edit-task-hierarchy-btn" type="button" (click)="changeEditingTask(task)">
                  {{ task.title }}
                </button>
              }
            </div>
            <input type="text"
            class="edit-task-name-input"
            [(ngModel)]="editingTask.title"
            >
            <div class="edit-task-item edit-task-start-date">
              <p class="edit-label">開始日</p>
              <input type="date"
               class="edit-task-start-date-input"
               [(ngModel)]="editingTask.startDate"
               >
            </div>
            <div class="edit-task-item edit-task-due-date">
              <p class="edit-label">期日</p>
              <input type="date"
              class="edit-task-due-date-input"
              [(ngModel)]="editingTask.dueDate"
              >
            </div>
            <div class="edit-task-item edit-task-status">
              <p class="edit-label">ステータス</p>
              <select name="status" id="status-select"
              [(ngModel)]="editingTask.status"
              >
                <option value="未着手">未着手</option>
                <option value="進行中">進行中</option>
                <option value="保留">保留</option>
                <option value="完了">完了</option>
              </select>
            </div>
            <div class="edit-task-item edit-task-priority">
              <p class="edit-label">優先度</p>
              <select name="priority" id="priority-select"
              [(ngModel)]="editingTask.priority"
              >
                <option value="">未入力</option>
                <option value="高">高</option>
                <option value="中">中</option>
                <option value="低">低</option>
              </select>
            </div>
            <div class="edit-task-item">
              <p class="edit-label">メモ</p>
              <input
                type="text"
                class="edit-task-memo-input"
                [(ngModel)]="editingTask.memo"
                placeholder="メモを入力してください"
              >
            </div>
            <div class="edit-task-item edit-task-subtasks-container">
              <p class="edit-label">サブタスク</p>
              <button class="edit-task-subtask-add-btn" type="button" (click)="addEmptySubTask(modalState.data.id)">+</button>
              <div class="edit-task-subtasks-value-container">
                @if (addingSubTask !== null) {
                  <div class="edit-task-subtask-item" (click)="changeEditingTask(addingSubTask)">
                    <input
                    #subTaskInput
                    type="text"
                    class="edit-task-subtask-input"
                    [(ngModel)]="addingSubTask.title"
                    (blur)="addSubTask(addingSubTask)"
                    />
                  </div>
                }
                @for (subTask of modalState.data.subTasks; track subTask.id) {
                  <div class="edit-task-subtask-item" (click)="changeEditingTask(subTask)">
                    <input
                    type="text"
                    class="edit-task-subtask-input"
                    [(ngModel)]="subTask.title"
                    (blur)="updateTitle(subTask)"
                    />
                  </div>
                }
              </div>
            </div>
            <div class="edit-task-item">
              <p class="edit-label">コメント</p>
              <input type="text" [(ngModel)]="commentContent" placeholder="コメントを入力してください" />
              <button class="edit-task-comment-add-btn" type="button" (click)="addComment(modalState.data.id)">コメント</button>
              <div class="edit-task-comments-container">
                @for (comment of modalState.data.comments; track comment.id) {
                  <p class="edit-task-comment-content">{{ comment.content }}</p>
                  <button class="edit-task-comment-delete-btn" type="button" (click)="deleteComment(comment.id)">
                    削除
                  </button>
                }
              </div>
            </div>
          </div>
          <button class="edit-task-save-btn" type="button" (click)="onSaveTaskEdit(editingTask)">保存</button>
          <button class="edit-task-delete-btn" type="button" (click)="deleteTask(modalState.data.id)">削除</button>
        </div>
      </div>
    } @else if (modalState.type === 'project-invite') {
      <div class="modal" (click)="closeModal()">
        <div class="modal-form" (click)="$event.stopPropagation()">
          <div class="modal-top">
            <p>{{ modalState.data.name }} への招待</p>
            <button class="close-modal-btn" type="button" (click)="closeModal()">×</button>
          </div>
          <div class="modal-body">
            <div class="modal-content-item">
              <p class="modal-content-label">メールで招待</p>
              <div class="modal-content-email-input-container">
                <input type="email" [(ngModel)]="inviteEmailOrUserName" placeholder="メールアドレスを入力してください" />
                <button class="project-invite-btn" type="button" (click)="inviteToProject(modalState.data.id)">招待</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    } @else if (modalState.type === 'project-member-list') {
      <div class="modal">
        <div class="modal-form">
          <div class="modal-top">
            <p>{{ modalState.data.name }}のメンバー</p>
            <button class="close-modal-btn" type="button" (click)="closeModal()">×</button>
          </div>
          <div class="modal-body">
            <div class="modal-project-member-list">
              @for (memberId of modalState.data.memberIds; track memberId) {
                <div class="modal-project-member">
                  <button class="member-btn">
                    <p>{{ memberId }}</p>
                  </button>
                  <button class="member-remove-btn" (click)="deleteMember(memberId, modalState.data.id)">
                    削除
                  </button>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    } @else if (modalState.type === 'notification-detail') {
      <div class="modal">
        <div class="modal-form">
          <div class="modal-top">
            <p>受信トレイ詳細</p>
            <button class="close-modal-btn" type="button" (click)="closeModal()">×</button>
          </div>
          <div class="modal-body">
            <div class="modal-notification-title-wrapper">
              <div class="modal-notification-title-icon"></div>
              <div class="modal-notification-text-wrapper">
                <p class="modal-notification-title">{{ modalState.data.title }}</p>
                <p class="modal-notification-time">2時間前</p>
              </div>
            </div>
            <p>通知内容</p>
            <div class="modal-notification-body-wrapper">
              <p>{{ authState.userName }}から{{ modalState.data.message }}</p>
              @if (modalState.data.type === 'project-invite') {
                @if (modalState.data.status === 'pending') {
                  <div class="modal-notification-project-invite-wrapper">
                    <button (click)="acceptInvite(modalState.data.sourceId)">承諾する</button>
                    <button (click)="declineInvite(modalState.data.sourceId)">拒否する</button>
                  </div>
                } @else if (modalState.data.status === 'accepted') {
                  <p>招待はすでに承諾されています。</p>
                } @else if (modalState.data.status === 'declined') {
                  <p>招待はすでに拒否されています。</p>
                }
              }
            </div>
          </div>
          <div class="modal-footer">
            @if (modalState.data.type === 'task-deadline') {
              <button class="modal-footer-btn" (click)="openTaskFromNotification()">
                タスクに移動
              </button>
            }
          </div>
        </div>
      </div>
    }
  }


</div>

<style>
  body {
    overflow-x: hidden;
  }
  button {
    cursor: pointer;
  }
  .full-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .topbar {
    height: 40px;
    display: flex;
    gap: 14px;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(32, 75, 38);
    box-sizing: border-box;
    flex-shrink: 0;
  }
  .user-info {
    color: white;
  }
  .menu-button {
    width: 18px;
    height: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    padding: 0;
    margin-right: auto;
    cursor: pointer;
  }
  .menu-button span {
    display: block;
    height: 2px;
    width: 100%;
    background: white;
    border-radius: 2px;
  }
  .login-btn {
    height: 30px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
    border: none;
  }
  .login-btn:hover {
    background-color: #f0f0f0;
  }
  .login-text {
    font-size: 14px;
    font-weight: bold;
  }
  .main-content {
    display: flex;
    flex: 1;
    min-height: 0;
    overflow: hidden;
  }
  .left-side {
    align-self: stretch;
    min-height: 0;
    width: 150px;
    transition: ease 0.3s width;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(109, 153, 125);
    flex-shrink: 0;
  }
  .left-side.closed {
    width: 0;
  }
  .sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .sidebar-title {
    color: white;
    font-weight: bold;
  }
  .sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: stretch;
  }
  .sidebar-menu-btn {
    border: none;
    background: none;
    color: white;
    text-align: center;
    padding: 6px 8px;
    border-radius: 4px;
    font: inherit;
    cursor: pointer;
    text-decoration: none;
  }
  .sidebar-menu-btn.active {
    background-color: #3c5240;
  }
  .sidebar-menu-btn:hover {
    background-color: #3c5240;
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e2e1e1;
    cursor: pointer;
    transition: ease 0.3s width, ease 0.3s height;
  }
  .profile-circle:hover {
    width: 50px;
    height: 50px;
  }
  .profile-name {
    font-size: 10px;
    color: white;
  }
  .main {
    flex: 1;
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  .main-container {
    flex: 1;
    min-height: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow-y: auto;
    gap: 20px;
  }
  .main-container > .add-task-btn {
    align-self: center;
    flex-shrink: 0;
  }

  .delete-selected-task-btn {
    flex-shrink: 0;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
    overflow: hidden;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 85%;
    height: 70%;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
  }
  .modal-top {
    padding: 0 10px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    flex-shrink: 0;
  }
  .modal-body {
    padding: 10px 10px;
    flex: 1;
    overflow-y: auto;
    min-height: 0;
  }
  .modal-footer {
  flex-shrink: 0;
  padding: 20px 20px;
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

  /* タスク */
  .add-task-btn {
    border: none;
    padding: 4px 12px;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    background-color: rgb(32, 75, 38);
    cursor: pointer;
  }
  .add-task-close-btn {
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
  .add-task-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .add-task-item {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  .add-task-save-btn {
    align-self: center;
    margin-top: auto;
    margin-bottom: 50px;
  }
  .add-task-memo-input {
    border: none;
  }
  .add-subtask-btn {
    font-size: 20px;
    border: none;
  }
  .edit-task-hierarchy-container {
    display: flex;
    gap: 10px;
    font-size: 12px;
  }
  .edit-task-hierarchy-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  .edit-task-hierarchy-btn:hover {
    background-color: #f0f0f0;
  }
  .edit-task-name-input {
    font-size: 20px;
    border: none;
  }
  .edit-task-item {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  .edit-label {
    font-size: 12px;
  }
  .edit-task-memo-input {
    border: none;
  }
  .edit-task-delete-btn {
    align-self: center;
    margin-top: 20px;
    color: red;
    border: none;
    background: none;
    cursor: pointer;
  }
  .edit-task-delete-btn:hover {
    text-decoration: underline;
  }
  .edit-task-subtasks-container {
    display: flex;
    align-items: flex-start;
  }
  .edit-task-subtask-add-btn {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 8px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .edit-task-subtask-add-btn:hover {
    background-color: #f0f0f0;
  }
  .edit-task-subtask-item {
    min-width: 200px;
    height: 30px;
    background: #999;
    border: none;
    cursor: pointer;
  }
  .edit-task-subtask-item:hover {
    background-color: #e0e0e0;
  }
  .edit-task-subtask-input {
    margin-left: 20px;
    width: 100px;
    border: none;
  }
  .edit-task-subtasks-value-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  /* プロジェクト */
  .member-btn.active {
    background-color: #f0f0f0;
  }

  /* 受信トレイ */
  .modal-notification-title-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .modal-notification-title-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #4ea356;
  }
  .modal-notification-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .modal-notification-time {
    font-size: 12px;
    color: #999;
  }
  .modal-notification-text-wrapper p {
    margin: 0;
  }
  .modal-footer-btn {
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(26, 165, 61);
    color: white;
  }
  .modal-footer-btn:hover {
    background-color: rgb(20, 117, 44);
  }
</style>
